<% chatrooms.each_with_index do |chatroom| %>
  <div class="card-chatroom">
    <%= link_to chatroom_path(chatroom), data: { turbo_frame: "chatroom_show" } do %>
      <%= image_tag "background_#{rand(1..5)}", class: 'image-card' %>
      <h5 class="title-card"><%= chatroom.name %></h5>
      <%= render 'shared/notifications', count: chatroom.messages?(user).count, chatroom: chatroom %>
    <% end %>
  </div>
<% end %>
