<div class="container-chatrooms" data-controller="frame"
                                data-frame-chatrooms-value="<%= @chatrooms.to_json %>">

  <%# To search on a list:
        - Use gpsearch, send to a frame when validating the search
        - Or try to make it dynamic %>

  <div class="list-chatrooms">
    <h4 class="title-conversations">Conversations</h4>
    <%= turbo_frame_tag "list_chatrooms_user_#{current_user.id}", class: "list-conversations" do %>
      <%= render 'chatrooms/list_chatrooms', chatrooms: @chatrooms, user: current_user %>
    <% end %>
  </div>

  <div class="show-chatroom">
    <%= turbo_frame_tag "chatroom_show", data: { frame_target: 'frameChatroom',
                                                  action: 'turbo:frame-render->frame#notificationsToggle' } do %>
      <div class="chatroom-display">
        <h4>Start chatting with your friends</h4>
      </div>
    <% end %>
  </div>
</div>
