<div class="container-chatrooms">

  <%# To search on a list:
        - Use gpsearch, send to a frame when validating the search
        - Or try to make it dynamyc %>

  <div class="list-chatrooms">
    <h4 class="title-conversations">Conversations</h4>
    <div class="list-conversations" id="list_chatrooms_user_<%= current_user.id %>">
      <%= render 'chatrooms/list_chatrooms', chatrooms: @chatrooms, user: current_user %>
    </div>
  </div>

  <div class="show-chatroom">
    <%= turbo_frame_tag "chatroom_show", data: { turbo_frame_params: "chatroom" } do %>
      <div class="chatroom-display">
        <h4>Start chatting with your friends</h4>
      </div>
    <% end %>
  </div>
</div>

<%= console %>
